.header{
    max-width: 100%;
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.serviceName{
    color: #fff;
    font-size: 18px;
    margin-right: 24px;
    white-space: nowrap;
}


.selectWrap{
    max-width: 250px;
}

.menu{
    width: 100%;
}

@media (max-width: 1200px){
    .header{
        z-index: 89;
    }
}

@media (max-width: 760px){
    .select{
        display: none;
    }
}